.bgCover{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: auto;
width: auto;
}
.bgYellow{
    background-color: $yellow;
    border:$yellow 1px solid; 
}
.bgTransparent{
    background-color:transparent;
    border: white 2px solid; 
}