.yellow{
    color: $yellow;
}
.white{
    color: white;
}
.black{
    color:$black;
}
.lightgray{
    color:$lightgray;
}
.darkgray{
    color:$darkgray;
}
.orange{
    color:$orange;
}
.coral{
    color:$coral;
}
.purple{
    color:$purple; 
}
.purple2{
    color:$purple2; 
}
.purple3{
    color:$purple3; 
}
.purple4{
    color:$purple4; 
}
