$black:black; 
$red:red;
$yellow:#ffb81c; 
$lightgray: rgb(158, 153, 153); 
$darkgray: rgb(99, 96, 96); 
$orange: orange; 
$coral: coral; 
$purple:#694b87; 
$gray3: rgba(0, 0, 0, 0); 
$purple2: rgb(218, 103, 218);
$purple3: rgb(146, 1, 146);
$purple4: rgb(44, 37, 44);